//COLORES 
$white:#fff;
$platinum:#EF7F6D;
$gray:#BABABA;

$carmine-pink:#E94F37;
$salmon:#ef7f6d;
$spanish-pink:#f7bfb6;

$black-olive:#393e41;
$granite-gray:#5d6163;
$old-silver:#5d6163;

$verdigris:#44bba4;
$medium-aquamarine:#66c7b4;
$perl-aqua:#88d3c5;

//FONT SIZE 
$xxxx-large:130px;
$xxx-large:100px;
$xx-large:30px;
$x-large:20px;
$large:18px;
$medium:16px;
$small:14px;
$x-small:12px;

//FONT FAMILYS
$:;
$:;


